<!DOCTYPE html>
<html>
  <head>
  		<meta charset="utf-8" />
  		<title>nodejs ace</title>
  		<meta name="keywords" content="" />
  		<meta name="description" content="" />
  		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-5">
					<div class="page-header">
						<h1><%= title %></h1>
						<form class="form-horizontal" method="post" action="/user/signup" data-value="user" role="form">
							<div class="modal-body">
								<div class="form-group">
									<label for="signinName">用户名</label>
									<input type="text" id="signinName" class="form-control" value="" name="user[name]" />
								</div>
								<div class="form-group">
									<label for="signinPassword">密码</label>
									<input type="text" id="signinPassword" class="form-control" value="" name="user[password]" />
								</div>
							</div>
							<div class="user/nodel-footer">
								<button class="btn btn-success" type="submit">提交</button>
								<a href="./login" class="navbar-link">登录</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		<div>
	</body>
</html>